header {
    padding: 30px;
    margin-bottom: 80px;
}

main {
    margin: 0px 120px 80px 120px;
}

.profile > *:first-child {
    margin-right: 12px;
}

.profile > div {
    flex-grow: 1;
}

.profile > div:nth-child(1) {
   justify-content:  flex-end; 
   text-align: right;
}

.profile > img{
    width: 150px;
    height: 150px;  
    object-fit: contain;
    
}

body{
    /* background-color: #e6ac86; */
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #e6ac86 50%, #e6ac86 100%);
}