* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox-vcenter {
  display: flex;
  align-items: center;
}

.flexbox-hcenter{
  display: flex;
  justify-content: center;
}

.flexbox-space-between {
  display: flex;
  justify-content: space-between;
}

.flexbox-row {
  display: flex;
}

.flexbox-column {
  display: flex;
  flex-direction: column;
}

.flexbox-wrap {
  display: flex;
  flex-wrap: wrap;
}

.font-light {
  color: #FFF;
}

.font-dark {
  color: #000;
}

.button-primary {
  padding: 15px 28px; 
  background-color: #E29360;
  color: #FFF;
  font-size: 24px;
}

