:root {
  --article-heading-margin-bottom: 40px;
}

#recommendation, #reviews {
  padding: 80px 150px; 
}



#recommendation > h1 {
  text-align: center;
  margin-bottom: 60px;
}

#recommendation-container {
  width: 1140px;
}

#recommendation-container > * {
  margin: 10px;
}

#recommendation .recommendation-item > :first-child {
  margin-bottom: 14px;
}



#reviews > h1 {
  margin-bottom: var(--article-heading-margin-bottom);
}

#reviews > #review-container > * {
  width: 420px;
  margin: 10px;
}

#reviews .review-item > p {
  font-size: 24px; 
  color: var(--dark-variant-font-color);
  margin-top: 5px;
}


