#header {
  min-height: 1024px;
  background: url("header-bg.png") no-repeat;
  background-size: cover;
}

#header {
  padding-top: 30px;
}

#header > nav {
  margin-left: 140px;
  margin-right: 140px;
}

#header > #WOTD {
  margin-top: 300px;  
}

#header > nav > .nav-links {
  width: 500px;
}


