:root {
  --article-heading-margin-bottom: 40px;
}

#recommendation, #reviews {
  padding: 80px 150px; 
}

#banner {
  min-height: 1024px;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("banner.png") no-repeat;
  background-size: cover;
  padding-top: 30px;
}

#banner > nav {
  margin-left: 140px;
  margin-right: 140px;
}

#banner > nav > .nav-links {
  width: 500px;
}

#banner > #WOTD {
  margin-top: 300px;  
}

#recommendation > h1 {
  text-align: center;
  margin-bottom: 60px;
}

#recommendation-container {
  width: 1140px;
}

#recommendation-container > * {
  margin: 10px;
}

#recommendation .recommendation-item > :first-child {
  margin-bottom: 14px;
}

#menu {
  max-height: 720px;
}

#menu h1 {
  width: 700px;
  text-align: center;
}

#menu > :nth-child(1) {
  background-color: rgba(0, 0, 0, 0.8);
  flex: 1;
}

#menu > :nth-child(1) > h1 {
  margin-bottom: var(--article-heading-margin-bottom);
}

#reviews > h1 {
  margin-bottom: var(--article-heading-margin-bottom);
}

#reviews > #review-container > * {
  width: 420px;
  margin: 10px;
}

#reviews .review-item > p {
  font-size: 24px; 
  color: var(--dark-variant-font-color);
  margin-top: 5px;
}

#footer {
  padding: 0px 150px;
  margin-bottom: 80px;
}

#footer > div {
  padding: 30px 0px;
}

#footer > div > * {
  width: 320px;
}

#footer section > h4 {
  margin-bottom: 16px;
}

#footer #contact-us p {
  font-size: 24px;
  color: var(--dark-variant-font-color);
}

#footer #social-media-container p {
  font-size: 24px;
}

#footer #social-media-container > div {
  margin-bottom: 10px;
}
