#header {
  min-height: 1024px;
  background: url("header-bg.png") no-repeat;
  background-size: cover;
}

#header {
  padding-top: 30px;
}

#header > nav {
  margin-left: 140px;
  margin-right: 140px;
}

#header > nav > .nav-links {
  width: 500px;
}

#header > #WOTD {
  margin-top: 300px;  
}

#recommendation {
  padding: 60px 150px; 
}

#recommendation > div > h1 {
  text-align: center;
  margin-bottom: 60px;
}

#recommendation-container > * {
  margin: 10px;
}

